@import '../../../styles.scss';
.addTocart {
  padding: 18px 8px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  width: 98%;
  border: none;
  float: left;
  background: var(--color-yellowish-orange);
  color: var(--color-white-bg);
}
.buyNow {
  @extend .addTocart;
  background: #fb641b;
  color: var(--color-white-bg);
}

.left {
  width: 30%; /* Adjust the width as needed */
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
}

.right {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll; /* Enable vertical scrolling for the right side */
}
