<div class="container d-flex">
  <div class="d-flex">
    <div style="width: 10%">
      <div style="width: 87%">
        <div style="margin-bottom: 1rem">
          <img
            class="card-img-top"
            [src]="imageUrl"
            alt="..."
            style="width: 100%; object-fit: contain"
          />
        </div>
        <div style="margin-bottom: 1rem">
          <img
            class="card-img-top"
            [src]="imageUrl"
            alt="..."
            style="width: 100%; object-fit: contain"
          />
        </div>
        <div style="margin-bottom: 1rem">
          <img
            class="card-img-top"
            [src]="imageUrl"
            alt="..."
            style="width: 100%; object-fit: contain"
          />
        </div>
        <div style="margin-bottom: 1rem">
          <img
            class="card-img-top"
            [src]="imageUrl"
            alt="..."
            style="width: 100%; object-fit: contain"
          />
        </div>
      </div>
    </div>
    <div style="width: 50%">
      <div style="height: 100%; width: 100%">
        <img
          class="card-img-top"
          [src]="imageUrl"
          alt="..."
          style="width: 100%; object-fit: contain"
        />
      </div>
      <div class="d-flex justify-content-between">
        <button class="addTocart">Add TO CART</button>
        <button class="buyNow">BUY NOW</button>
      </div>
    </div>
  </div>

  <div style="width: 50%">
    <div class="container"></div>
  </div>
</div>
