<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div style="width: 100%; padding: 5px">
    <div class="isMobile">
      <div class="row" style="width: 100%">
        <div class="col-12 d-flex justify-content-between">
          <div>
            <span
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
              (click)="toggleSideBar()"
              id="toggleSideBar"
            >
              <span
                class="navbar-toggler-icon"
                id="toggleSideBar"
                style="font-size: 1.2rem"
              ></span>
            </span>
          </div>
          <a
            class="navbar-brand"
            href="/"
            aria-label="Flipkart"
            title="Flipkart"
            ><img
              src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/flipkart-095e08.svg"
              width="130"
              height="22"
              alt="Flipkart"
              title="Flipkart"
              class="aqQN50" /><img
              src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/fk_header_mobile_logo-bafb3a.svg"
              alt="Flipkart"
              width="75"
              height="20"
              class="_1kuwAE"
          /></a>

          <div class="d-flex justify-content-end align-items-center">
            <span style="margin-right: 1rem; font-size: 1.2rem">
              <i class="bi-cart-fill me-1"></i>
            </span>
            <div
              ngbDropdown
              class="d-inline-block"
              *ngIf="currentUser !== undefined"
            >
              <span
                id="dropdown1"
                ngbDropdownToggle
                (mouseenter)="onHover(drop)"
                (mouseleave)="onMouseHoverout(drop)"
                style="font-size: 1.2rem"
              >
                <i class="fa-solid fa-user"></i>
              </span>
              <div ngbDropdownMenu aria-labelledby="dropdown1" #drop>
                <button ngbDropdownItem>Edit profile</button>
                <button ngbDropdownItem>Order</button>
                <button ngbDropdownItem>Wishlist</button>
                <button ngbDropdownItem (click)="logOut()">Log out</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-between">
          <div class="input-group">
            <div class="input-group-prepend">
              <span
                class="input-group-text"
                id="basic-addon1"
                style="display: flex; height: 100%; align-items: center"
              >
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder=""
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-center desktopMode" style="width: 100%">
      <div class="col-3">
        <a class="navbar-brand" href="/" aria-label="Flipkart" title="Flipkart"
          ><img
            src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/flipkart-095e08.svg"
            width="130"
            height="22"
            alt="Flipkart"
            title="Flipkart"
            class="aqQN50" /><img
            src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/fk_header_mobile_logo-bafb3a.svg"
            alt="Flipkart"
            width="75"
            height="20"
            class="_1kuwAE"
        /></a>
      </div>
      <div class="col-6 align-items-center">
        <div class="input-group">
          <div class="input-group-prepend">
            <span
              class="input-group-text"
              id="basic-addon1"
              style="display: flex; height: 100%; align-items: center"
            >
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder=""
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
      <div class="col-3 d-flex justify-content-between">
        <form class="d-flex">
          <span (click)="openCartPage()">
            <i class="bi-cart-fill me-1"></i>
            Cart
            <!-- <span class="badge bg-dark text-white ms-1 rounded-pill">0</span> -->
          </span>
        </form>
        <div class="row" *ngIf="currentUser !== undefined">
          <div class="col-12">
            <div ngbDropdown class="d-inline-block">
              <span
                id="dropdown1"
                ngbDropdownToggle
                (mouseenter)="onHover(drop)"
                (mouseleave)="onMouseHoverout(drop)"
              >
                <i class="fa-solid fa-user"></i> {{ currentUser.username }}
              </span>
              <div ngbDropdownMenu aria-labelledby="dropdown1" #drop>
                <button ngbDropdownItem>Edit profile</button>
                <button ngbDropdownItem>Order</button>
                <button ngbDropdownItem>Wishlist</button>
                <button ngbDropdownItem (click)="logOut()">Log out</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Sidebar -->
    <div
      class="sidebar isMobile"
      [ngClass]="showSideBar === true ? 'showSideBar' : ''"
    >
      <div
        #sideBarWraper
        id="warapper"
        class="warapper"
        [ngStyle]="{ height: height + 'px' }"
      >
        <div class="row">
          <div class="col-8">
            <div style="font-size: 1.2rem; padding: 1rem; color: #fff">
              <i class="fa-solid fa-user"></i>
              {{ currentUser?.username }}
            </div>
          </div>
          <div class="col-4 d-flex justify-content-end">
            <a
              href="javascript:void(0)"
              style="font-size: 2rem; width: max-content"
              (click)="showSideBar = false"
              >×</a
            >
          </div>
        </div>

        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        <a href="#">Link 4</a>
      </div>
    </div>
  </div>
</nav>
