<div class="background-image">
  <div class="login-box">
    <h2>Login</h2>
    <form #loginForm="ngForm">
      <div class="user-box">
        <input type="email" name="email" required [(ngModel)]="email" 
        class="form-control"/>
        <label>Email</label>
      </div>
      <div class="user-box">
        <input
          type="password"
          name="password"
          required
          [(ngModel)]="password"
          class="form-control"
        />
        <label>Password</label>
      </div>
      <div class="form-group row">
        <div class="col-6">
          <a class="loginButton" (click)="login()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </a>
        </div>
        <div class="col-6"></div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-3"><span class="lineThrough"></span></div>
          <div class="col-6" style="text-align: center">
            <span
              style="color: #fff; cursor: pointer"
              (click)="registerNewUser()"
            >
              New to Amazon?</span
            >
          </div>
          <div class="col-3"><span class="lineThrough"></span></div>
        </div>
        <div class="card" style="margin-top: 1rem; cursor: pointer">
          <div class="card-body" (click)="registerNewUser()">
            Create your Amazon account
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
